body {
    background: #262626;
}
body:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5em;
    width: 3em;
    height: 3em;
    background: #dcdcd2;
    color: #dcdcd2;
    animation: a 8s cubic-bezier(0.2, 0.6, 0.4, 1) infinite;
    animation-name: rot, adder;
    content: '';
}
body:after {
    position: absolute;
    top: calc(50% - 12.5em);
    left: calc(50% - 12.5em);
    width: 25em;
    height: 25em;
    box-shadow: 0 0 0 100em #222;
    content: '';
}

@keyframes rot {
    0%, 5% {
        transform: rotate(0deg) scale(1);
    }
    10%, 15% {
        transform: rotate(-90deg) scale(1);
    }
    20%, 25% {
        transform: rotate(-180deg) scale(1);
    }
    30%, 35% {
        transform: rotate(-270deg) scale(1);
    }
    40%, 45% {
        transform: rotate(-360deg) scale(1);
    }
    50%, 55% {
        transform: rotate(-450deg) scale(1);
    }
    60%, 65% {
        transform: rotate(-540deg) scale(1);
    }
    70%, 75% {
        transform: rotate(-630deg) scale(1);
        filter: none;
    }
    90% {
        filter: blur(0.25em);
    }
    100% {
        transform: rotate(-2160deg) scale(0.333);
    }
}
@keyframes adder {
    0%, 0%, 100% {
        box-shadow: 0.0em -20.67767em #dcdcd2, 20.67767em 0em #dcdcd2, 0.0em 20.67767em #dcdcd2, -20.67767em 0.0em #dcdcd2, -3.0em -20.67767em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    5%, 10%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 20.67767em 0em #dcdcd2, 0.0em 20.67767em #dcdcd2, -20.67767em 0.0em #dcdcd2, -3.0em -20.67767em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    15%, 20%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 20.67767em #dcdcd2, -20.67767em 0.0em #dcdcd2, -3.0em -20.67767em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    25%, 30%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -20.67767em 0.0em #dcdcd2, -3.0em -20.67767em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    35%, 40%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -3em 0.0em #dcdcd2, -3.0em -20.67767em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    45%, 50%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -3em 0.0em #dcdcd2, -3em -3em #dcdcd2, 20.67767em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    55%, 60%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -3em 0.0em #dcdcd2, -3em -3em #dcdcd2, 3em -3em #dcdcd2, 3.0em 20.67767em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    65%, 70%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -3em 0.0em #dcdcd2, -3em -3em #dcdcd2, 3em -3em #dcdcd2, 3em 3em #dcdcd2, -20.67767em 3.0em #dcdcd2;
    }
    75%, 80%, 100% {
        box-shadow: 0.0em -3em #dcdcd2, 3em 0em #dcdcd2, 0.0em 3em #dcdcd2, -3em 0.0em #dcdcd2, -3em -3em #dcdcd2, 3em -3em #dcdcd2, 3em 3em #dcdcd2, -3em 3.0em #dcdcd2;
    }
}
